@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Osmanthus gallery</h1>
    <h2>_________________________________________________________________________________</h2>
</div>
<div class="text-center">
    <h4>Images</h4>
    <div class="form-group">
        <button id="view-image-button" type="submit" asp-page-handler="ViewImages" class="btn btn-2">View</button>
    </div>
    <div class="form-group">
        <button id="add-image-button" type="submit" asp-page-handler="AddImage" class="btn btn-2">Add</button>
    </div>
    <div class="form-group">
        <button id="delete-image-button" type="submit" asp-page-handler="DeleteImage" class="btn btn-2">Delete</button>
    </div>
</div>

