
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Osmanthus Gallery</h1>
    <h1 class="display-4">_____________________________________________</h1>
    <p style="font-size:larger">
        Osmanthus Gallery is a Digitial markting space for you to upload and share your images with other users!
        This website allows for you to express the picture you dersire and to download them in the future!
    </p>
    <p style="font-size:larger"> We home you enjoy you Jounery with us!</p>

    <h4>______________________</h4>
    <p> To create and view your images click below</p>
    <a class="nav-link text-primary" asp-area="" asp-controller="ImageModels" asp-action="Index">>> Images Gallery <<</a>
</div>

